.chat-side {
  width: 300px;
  background-color: #253141;
  color: white;
}
.side-header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
}
.groups {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 20px 0;
  overflow: scroll;
    .group{
      &__group-name{
        margin-bottom: 5px;
        font-size: 15px;
      }
      &__latest-message{
        font-size: 11px;
        
      }
    }
}

.side-box {
  height: 20px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  .menu {
    display: flex;
    list-style: none;
  }
  .menu__new-group {
    margin-right: 5px;
  }
  a {
    color:#ffffff;
    text-decoration: none;
  }
}